@model ICollection<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";

    string Classe = "";
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (Model.Count != 0)
        {
            <table class="table table-bordered border-primary">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody class="table table-bordered border-primary">
                    @foreach (var e in Model)
                    {
                        @if ((System.DateTime.Compare(System.DateTime.Now, e.DataDevolucao) > 0))
                        {
                            Classe = "text-danger";
                        }

                        else
                        {
                            Classe = "text-info";
                        }

                        <tr class="@Classe">
                            <td>@e.Id</td>
                            <td>@e.NomeUsuario</td>
                            <td>@e.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@e.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@e.Livro.Titulo</td>
                            <td>@e.Livro.Autor</td>
                            <td><a href="/Emprestimo/Edicao/@e.Id"><i class="far fa-edit" style="font-size: 30px; color: #000;"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="text-danger">Nenhum registro encontrado!</h3>
        }
    </div>
</div>